includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5

    paths:
        - app
        - database

    tmpDir: storage/framework/cache/phpstan

    checkMissingIterableValueType: true
    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: true

    excludePaths:
        analyse:
            - bootstrap/cache/*
            - storage/*
            - vendor/*
